body{
    height: 100vh;
    
}
.container{
    display:grid;
    height:100%;
    width:100%;

    grid-template-columns: 180px 1fr 160px;
    grid-template-rows: auto 1fr auto;
}
.header{

    font-size:5px;
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start:1;
    grid-row-end: auto;

}

.main{

    display: grid;
    justify-items: center;
    align-items: center;

    text-align: center;
    padding:30px 0px;
    
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 3;
}

.contents{
    width: 100%;
    margin:0 auto;
    padding-bottom: 200px;
}

.display,.control{
    padding-bottom: 30px;
}


.times{
    padding:30px 0px;
}


.footer{
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start:3;
    grid-row-end: auto;
}